<!DOCTYPE html>
<html lang="pt-br">
<head>
{% extends 'base.html' %}
{% block content %}
    <!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text-center">
        <h1 class="text-primary mb-4">Bem vindo!</h1>
        <a href="{% url 'signup' %}" class="btn btn-primary">Cadastre-se</a>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}