<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="text-primary mb-4">Login</h2>
    <form method="post" action="{% url 'login' %}" class="border p-4 bg-white rounded shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>
        <a href="{% url 'password_reset' %}" class="btn btn-primary">Esqueceu sua senha?</a>
    </p>
    <p>
        <a href="{% url 'signup' %}" class="btn btn-primary">Não tem uma conta? Cadastre-se</a>
        
    </p>
    <!-- Bootstrap JS and -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>