<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
<body class="bg-light">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'dashboard' %}">My Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api' %}">Info raças de cães</a>
                </li>
            </ul>
        </div>
            {% if user.is_authenticated %}
            <span class="p-2">
                <button type="submit" class="btn btn-primary mx-2" onclick="location.href='{% url 'perfil'  %}'">Perfil</button>
                
            </span>
            <form method="post" action="{% url 'logout' %}" >
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sair</button>
            </form>
            {% else %}
            <button type="submit" class="btn btn-primary mx-2" onclick="location.href='{% url 'login' %}'">Entrar</button>
            {% endif %} 
    </nav>

    
    <div class="container mt-5">
        {% block content %}
        
        {% endblock %}
    </div>

    
    <footer class="bg-light text-center py-4 mt-5">
        <p class="mb-0">© 2024 My Website. Todos os direitos reservados.</p>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
